.sidebar {
  background: #292929;
  height: 100%;  
}

.sidebar a {
  color: #FFFFFF !important;
  opacity: 0.8;
  margin: 0.2em 1em;
  font-size: 1em;
}

.sidebar a:hover {
  opacity: 1;
  border-bottom: 1px solid #FFFFFF;
}

.sidebar h1 {
  color: #FFFFFF;
  margin: 1em 0;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}
